@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-size: 10px;
}

html {
    font-size: 10px;
}

body {
    background-color: #000;
}

body,
button,
input,
a {
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}
